.env
.env.example
env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
backend/venv
frontend/node_modules
frontend/.next
frontend/dist
frontend/build
frontend/out
frontend/public
frontend/src
frontend/styles
frontend/utils